<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="2.1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0-rtm-130917" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0-rtm-130917" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.0.0-rtm-130913" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.1-rtw1-20925-642-dev" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Testing" version="0.6.0.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>